html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
	font-size: 22px;
}
.navbar-inverse{
	margin: 0px;
	border-radius: 0px;
}
.navbar-nav>li>.dropdown-menu{
	text-align: -webkit-right;
}

.rightside{
	width: 18%;
	min-height: 100%;
	background-color: #2D3A42;
	display: inline-block;
	outline: 0;
	font-size: 18px;
	color: #D8FAF7;
	text-align: right;
}

.setting{
  display: block;
  position: relative;
  height: 100%;
}
.leftside{
	display:inline-block;
	margin-right: 0px; 
    margin-left: 0px;
    padding:0px;
    width:82%;
	min-height: 100%;
}
.leftside>div{
	margin:0px;
}
.setting-menu{
	text-align: right;
	width: 100%;
}
.nav>li>a{
	margin-right: -40px;
}
.nav>li>a:hover{
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	border-right: 5px solid #EE8366;

}
a{
	color: #fff;
}
.in-menu{
	height: 180px;
    text-align: center;
    float:right;
}
.in-menu-m{
	border-radius: 7px;
	color: #D2CFCB;
	background: #32434D;
	width:80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 10%;
	height:150px;
}
.glyphicon{
	top:0;
}
.setting{
	white-space: nowrap;
	direction:rtl;
}
.setting>div{
	vertical-align: top;
}
.in-in-menu{
	font-size: 23px;
	width: 100%;
	height:100%;
	padding-top: 13%;
}
.glyphicon-plus{
	font-size: small;
}
.glyphicon-minus{
	font-size: small;
}
.glyphicon-edit,.glyphicon-trash{
	font-size: 15px;
	padding-left: 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    overflow-wrap: break-word;
    white-space: pre-line;
    vertical-align: top;
	text-align: center;
}
.form-control{
	width: 40%;  
	display: inline;
	padding: 5px 7px;
}
.in-add{
	margin-top: 10px;
	margin-bottom: 10px;
}

table.table input{
	padding-right: 0px;
	padding-left: 0px;

}
.h1, .h2, .h3, h1, h2, h3{
	display: -webkit-inline-box;
}
